@font-face {
  font-family: 'logotype';
  src: url('assets/fonts/ロゴたいぷゴシック.otf');
}

*{
  font-size: calc(62.5% + 0.5vw);
  margin: 0px;
  padding: 0px;
  font-family: "Noto Sans JP";
  clear:both;
}

#top{
  width: 98vw;
  height: 100vh;
}


/* 固定されたヘッダー */
#fixedheader{
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top:2px;
  right:0;
  left:5px;
  height:5vh;
  font-size: calc(62.5% + 0.8vw);
  }

/*menu btn */
.menu{
    height: 20px;
    position: absolute;
    position: fixed;
    right: 20px;
    top: 20px;
    width: 30px;
    z-index: 99;
    cursor: pointer;
}
.menu__line{
    background: #000;
    display: block;
    height: 2px;
    position: absolute;
    transition:transform .3s;
    width: 100%;
}
.menu__line--center{
    top: 9px;
}
.menu__line--bottom{
    bottom: 0;
}
.menu__line--top.active{
    top: 8px;
    transform: rotate(45deg);
    background: #fff;
}
.menu__line--center.active{
    transform:scaleX(0);
    background: #fff;

}
.menu__line--bottom.active{
    bottom: 10px;
    transform: rotate(135deg);
    background: #fff;

}

/*gnav*/
.gnav{
    background: rgba(0,0,0,0.9);
    display: none;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 98;
    top:0;
}
.gnav__wrap{
    align-items:center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
}
.gnav__menu{
  list-style: none;
}
.gnav__menu__item{
    margin: 30px 0;
}
.gnav__menu__item a{
    color: #fff;
    font-size: 100%;
    font-weight: bold;
    padding: 40px;
    text-decoration: none;
    transition: .5s;
}
.gnav__menu__item a:hover{
    color: #666;
}

/* TOP */

#top_intro{
  display: flex;
  align-items: center;
}

#intro{
  padding-right: 5vw;
  padding-top: 40vh;
  padding-bottom: 20vh;

}

#theme{
  padding-left: 5vw;
  padding-top: 40vh;
  padding-bottom: 20vh;
  font-size: calc(300% + 2.5vw);
  text-align: center;
}


/*カウントダウン*/

div.timecountdown{
  margin-left: auto;
  margin-right: auto;
  float: right;
  /* box */
  padding: 0.5em 1em;
  /*
  background: whitesmoke;
  border-top: solid 6px black;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
  */
  /* over */

}

.tag{
  font-size: 62.5%;
}

div#result{
  font-size: calc(62.5% + 0.8vw);
  margin-right: 5vw
}

/* あいさつ */
.greet-main{
  /* box */
  padding: 10px 10px;
  /*
  background: whitesmoke;
  border-top: solid 6px black;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
  */
  /* over */
}

h1.greet-main{
  font-size: 30px;
}

h3.greet-main{
  padding-left: 20px;
}

/* タイムテーブル */
#timeTable{
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  text-align: center;
  clear: both;
  /* box */
  padding: 0.5em 1em;
  /*
  background: whitesmoke;
  border-top: solid 6px black;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
  */
  /* over */
}

/* TAB切替部分 */
.tab_item{
  display: none;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.is-active-item{
  display: block;
  display: flex;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

.tab_btn{
  display: inline-block;
  opacity: 0.3;
}

.is-active-btn{
  opacity: 1;
}

/* TABLE内部 */
caption{
  margin-bottom: 20px;
}

.col2of4{
  width: 50%;
}

.tablebox{
  margin: 0 10px;
}

/* For SmartPhone */
@media screen and (max-width: 500px){

  div#top{
    font-size: 100%;
  }

  #fixedheader{
    top:2px;
    right:0;
    left:5px;
    height:8vh;
    font-size: calc(100% + 2vw);
  }

  .gnav__menu__item a{
    font-size: calc(130% + 4vw);
    padding: 20px;
  }

  h1.greet-main{
    font-size: 20px;
  }

}
